<link rel="stylesheet" href="/css/auth/title.css">
<div class="jumbotron">
	<h2 class="title">
		<i class="fa fa-paper-plane mr-2"></i>
		<%- pageTitle %>
		<hr>
    </h2>
    <h3 class="title">
      <div class="mt-3">
        <%- pageDesc %>
      <% if(pageMode === 'LOGIN')  { %> 
        <a href="/auth/join" class="btn btn-primary">회원 가입</a>
        <% } else { %> 
          <a href="/auth/login" class="btn btn-success">회원 로그인</a>
          <% } %> 
      </div>
      </h3>

</div>